* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
body {
    background: linear-gradient(216deg, rgba(15,24,99,1) 0%, rgba(48,8,50,1) 49%, rgba(0,0,0,1) 100%);
}

/* Cabecera */

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
header figure {
    margin: 0 auto;
}
header figure img{
    width: 210px;
    height: 80px;
    margin: 30px 0;
}
header ul {
    margin: 0 auto;
    list-style: none;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
}
header ul a {
    text-decoration: none;
}
header ul a li {
    margin: 0 10px 0 10px;
}
header ul a {
    color: rgb(200, 120, 255);
}
header ul .overview {
    color: white;
}
header ul a:hover {
    text-decoration: underline;
}

/* Cuerpo */

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 65px 0;
}
main h1 {
    margin: 0 auto;
    font-size: 4rem;
    text-align: center;
}
main p {
    margin: 10px auto;
    font-size: 2rem;
    width: 100%;
    max-width: 768px;
    padding: 0 10px;
    text-align: center;
}
main .explorar {
    margin: 30px auto;
    text-decoration: none;
    font-style: none;
    color: white;
    font-size: 2.2rem;
    font-weight: bold;
    background-image: linear-gradient(to bottom, #8241f9, #3d235b);
    border-color: #150a27;
    color: #fff;
    padding: 12px 32px;
    text-align: center;
    border-radius: 6px;
}
main .container_reasons {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 768px;
}
main .container_reasons .reason {
    width: 30%;
    min-width: 210px;
    margin: 30px auto;
}
main .container_reasons .reason ul {
    margin-left: 5px;
    font-size: 1.6rem;
    list-style-type: none;
    font-weight: bold;
    text-align: center;
}
main .container_reasons .reason ul li img {
    width: 15px;
    height: 13px;
}
main .container_reasons .reason p {
    font-size: 1.5rem;
}
main .container_reasons .reason p a {
    color: rgb(200, 120, 255);
    text-decoration: none;
}
main span {
    margin: 0 auto;
    padding: 25px 0;
    font-size: 1.5rem;
    text-align: center;
}
main span a {
    text-decoration: none;
    color: rgb(200, 120, 255);
    font-weight: bold;
}
.gallery {
    width: 100%;
}
.gallery figure {
    margin: 25px auto;
    max-width: 768px;
    display: flex;
    justify-content: center;
    padding: 0 10px;
}
.gallery figure img{
    max-width: 700px;
    min-width: 220px;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
footer img {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 55%;
    filter: contrast(1.3);
}
footer h2 {
    max-width: 210px;
    padding: 20px 0;
    text-align: center;
    margin: 0 auto;
    font-size: 2rem;
    font-weight: bold;
}
footer .costado {
    margin: 0 auto;
    width: 200px;
    display: flex;
    flex-direction: row;
}
.costado span {
    width: 50%;
}
.costado h4 {
    width: 50%;
    text-align: center;
    font-size: 1.3rem;
}
footer .redes {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 20px;
}
.redes a img {
    width: 30px;
    height: auto;
    filter: invert(1);
    margin: 0 5px;
}
footer hr {
    width: 50%;
    max-width: 700px;
    border: none;
    height: 1px;
    background-color: gray;
    margin: 0 auto;
    margin-bottom: 20px;
}
footer p {
    margin: 0 auto;
    text-align: center;
    width: 25%px;
    padding-bottom: 10px;
    font-size: 1.1rem;
}