* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    background-color: #1f2335;
    font-family: josefin sans, sans-serif;
    color: #79ddff;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.container_header {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.container_header div {
    width: 100%;
    height: 1px;
    max-width: 700px;
    margin: 0 auto;
    background-color: #8a8f92;
}
.container_header h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #79ddff;
    text-align: center;
    padding: 20px 0;
}
main {
    width: 100%;
    display: flex;
    flex-direction: column;
}
main .container_main {
    width: 100%;
    max-width: 500px;
    height: auto;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
    margin: 0 auto;
}
main .container_main .layer {
    width: 100%;
    max-width: 500px;
    height: auto;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    border-radius: 20px;
    background-color: #292e42;
    margin: 10px 0;
}
.layer h3 {
    width: 100%;
    text-align: justify;
    padding: 0 20px;
    color: #8ca1c5;
    font-size: 1.6rem;
}
.layer a figure img{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 10px 0;
}
.layer p {
    text-align: center;
    padding: 0 8px;
    font-size: 1.4rem;
    color: #8ca1c5;
}